<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="listener1" class="com.sb.listener.IOCPOMListener" />

	<bean id="ppc"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"
			value="src/com/sb/common/DBDetails.properties" />
	</bean>


	<bean id="drds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="dao" class="com.sb.dao.LoanDAOImpl">
		<constructor-arg ref="drds" />
	</bean>

	<bean id="service" class="com.sb.servixe.LoanServiceImplement">
		<constructor-arg ref="dao" />
		<property name="osname" value="${os.name}" />
		<property name="java_home" value="${JAVA_HOME}" />
	</bean>

	<bean id="controller" class="com.sb.controller.CustomerController">
		<constructor-arg ref="service" />
	</bean>


</beans>
