<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="p1" class="com.sb.beans.TourPlan">
		<property name="places">
			<array>
				<value>manali</value>
				<value>delhi</value>
				<value>keral</value>
			</array>
		</property>

	</bean>

	<bean id="ta" class="com.sb.beans.TravelAgent" autowire="default">


	</bean>

</beans>
